* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.headerTop,
.headerMenu,
#footer .footer_cover {
    max-width: 1400px;
    margin: 0 auto;
}



/* ////////////////////////////////// 슬라이드쇼 ////////////////////////////////////// */
ul,
li {
    list-style: none;
}

main {
    margin: 30px 0 150px 0;
}

[name="slide"] {
    display: none;
}

.slidebox {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.slidebox img {
    width: 1024px;
    height: 300px;
}

.slidebox .slidelist {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slidebox .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .35s;
}

/* .slidebox .slideitem label {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

label.left {
    left: 20px;
    background-color: transparent;
    background-image: url('../image/left-arrow2.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}

label.right {
    right: 20px;
    background-color: transparent;
    background-image: url('../image/right-arrow.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
} */

/* 페이징 스타일 */
.paginglist {
    text-align: center;
    padding: 30px 0;
}

.paginglist>li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.paginglist>li>label {
    display: block;
    padding: 10px 30px;
    border-radius: 10px;
    background: #ccc;
    cursor: pointer;
}

.paginglist>li:hover>label {
    background: #333;
}

[id="slide01"]:checked~.slidelist .slideitem {
    transform: translateX(0);
    animation: slide01 10s infinite;
}

[id="slide02"]:checked~.slidelist .slideitem {
    transform: translateX(-100%);
    animation: slide02 10s infinite;
}

[id="slide03"]:checked~.slidelist .slideitem {
    transform: translateX(-200%);
    animation: slide03 10s infinite;
}

[id="slide04"]:checked~.slidelist .slideitem {
    transform: translateX(-300%);
    animation: slide04 10s infinite;
}

@keyframes slide01 {
    0% {
        left: 0%;
    }

    23% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    48% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    73% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    98% {
        left: -300%;
    }

    100% {
        left: 0%;
    }
}

@keyframes slide02 {
    0% {
        left: 0%;
    }

    23% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    48% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    73% {
        left: -200%;
    }

    75% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes slide03 {
    0% {
        left: 0%;
    }

    23% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    48% {
        left: -100%;
    }

    50% {
        left: 200%;
    }

    73% {
        left: 200%;
    }

    75% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes slide04 {
    0% {
        left: 0%;
    }

    23% {
        left: 0%;
    }

    25% {
        left: 300%;
    }

    48% {
        left: 300%;
    }

    50% {
        left: 200%;
    }

    73% {
        left: 200%;
    }

    75% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

/* //////////////////////////////////이미지 헤더////////////////////////////////////// */
.wrap_triple {
    display: grid;
    gap: 50px;
}

.wrap_triple {
    width: 1024px;
    margin: 0 auto;
}

/* ====================================이미지 타이틀================== */
.triple_tit {
    font: 40px 'Oswald';
    font-weight: lighter;
    margin-top: 80px;
    /* margin-left: px; */
}

/* ================================ 이미지 메인===================================== */
.triple_main1,
.triple_main2,
.event_triple_main {
    width: 100%;
    display: grid;
    grid-template: repeat(1, auto)/ repeat(3, 1fr);
    gap: 20px;
}

.triple_main1 {
    margin-bottom: 50px;
}

.event_triple_main div:nth-of-type(1),
.event_triple_main div:nth-of-type(4),
.event_triple_main div:nth-of-type(5) {
    grid-column: span 2;
}


.triple_main1 div:nth-of-type(1)::after,
.event_triple_main div:nth-of-type(1)::after {
    background: url(https://d38cxpfv0ljg7q.cloudfront.net/admin_contents/thumbnail/Gt8e-1623070755884-%EC%88%A0%EC%B7%A8%ED%95%9C%EC%9B%90%EC%88%AD%EC%9D%B4-5.jpg) center/cover;
}

.triple_main1 div:nth-of-type(2)::after,
.event_triple_main div:nth-of-type(2)::after {
    background: url(https://d38cxpfv0ljg7q.cloudfront.net/admin_contents/thumbnail/TOnv-1655794504098-1.jpg) center/cover;
}

.triple_main1 div:nth-of-type(3)::after,
.event_triple_main div:nth-of-type(3)::after {
    background: url(https://d38cxpfv0ljg7q.cloudfront.net/admin_contents/detail/5YHz-1651137039043-1.jpg) center/cover;
}

.triple_main2 div:nth-of-type(1)::after,
.event_triple_main div:nth-of-type(4)::after {
    background: url(https://d38cxpfv0ljg7q.cloudfront.net/admin_contents/detail/fe1w-1631180181351-hsocd+ap0.jpg) center/cover;
}

.triple_main2 div:nth-of-type(2)::after,
.event_triple_main div:nth-of-type(5)::after {
    background: url(https://d38cxpfv0ljg7q.cloudfront.net/admin_contents/thumbnail/7DjO-1669259690558-%ED%95%9C%EC%8B%9C%EC%9A%B8.jpg) center/cover;
}

.triple_main2 div:nth-of-type(3)::after,
.event_triple_main div:nth-of-type(6)::after {
    background: url(https://d38cxpfv0ljg7q.cloudfront.net/admin_contents/thumbnail/r9a3-1653530958733-mildam40_thumbnail.jpg) center/cover;
}


.triple_main1 div,
.triple_main2 div,
.event_triple_main div {
    width: 100%;
    position: relative;
    height: 400px;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;

    align-content: space-around;
    justify-content: center;
}

.triple_main1 div::after,
.event_triple_main div::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.triple_main2 div::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.triple_main1 a,
.triple_main2 a {
    width: 200px;
    height: 50px;

    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: black;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

.triple_main1 p,
.triple_main2 p {
    width: 100%;
    display: flex;
    justify-content: center;

    font-family: 'Nanum Myeongjo';
    font-weight: bold;

}

.triple_main1_ div strong {
    font-family: 'Nanum Myeongjo';
    font-weight: 100;

}

.triple_main1 p:nth-of-type(1),
.triple_main2 p:nth-of-type(1) {
    font-size: 1.75em;
    font-weight: bold;

    position: relative;
    top: 40px;

}

/* -------------------------hover=------------------------------ */
.triple_main1 div:hover a,
.triple_main2 div:hover a {
    display: grid;
}

.triple_main1 div:hover::after,
.triple_main2 div:hover::after {
    opacity: 0.3;
    transition: ease-out 1s;
    z-index: -1;
}

/* ====================header 공통==================== */
header {
    /* height: 120px; */
    margin-bottom: 50px;
}

/* .headertop_cover {
    background-color: rgba(223, 223, 223, 0.4);
} */

.headerTop {
    height: 70px;
    padding: 0 10px 0 10px;
    display: grid;
    grid-template: 20fr 1fr 1fr /1fr;
    justify-content: flex-start;
    position: relative;
}

.header_cover {
    background-color: white;
    border-bottom: 1px solid lightgray;
    box-shadow: 1px 1px 2px lightgray;
    /* height: 60px; */
    padding: 0 10px 0 10px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

/* ----------- 상단 헤더 ----------- */
.mainLogo {
    width: 150px;
    text-indent: -9999em;
    background: url(../image/crop_logo_black.png) no-repeat 0/100%;
    margin-left: 15px;
}

/* 로그인탭 */
.serviceTab {
    line-height: 80px;
    padding-right: 20px;

    position: absolute;
    right: 0;
    bottom: 0;
}

.serviceTabList {
    white-space: nowrap;
}

.serviceTabList li {
    display: inline-block;
    font-size: 12px;
}

.serviceTabList li a {
    color: grey;
}

.serviceTabList li+li::before {
    content: " | ";
    color: grey;
}

/* ----------- 하단 헤더 ----------- */
.headerMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* 좌측 카테고리 */
.mainCategoryList {
    display: flex;
}

.mainCategoryList>li {
    padding: 20px;
}

.mainCategoryList>li>a {
    color: black;
    font-weight: bold;
}

/* ============== 카테고리 세부 메뉴 ============== */
.detailCategoryList {
    visibility: hidden;

    box-sizing: border-box;
    width: 35em;
    font-weight: initial;
    background-color: white;
    padding: 20px 40px;
    border: 1px solid lightgray;
    /* border-top: none; */
    box-shadow: 1px 1px 2px lightgray;

    position: absolute;
    top: 100%;
    left: 0;
}

.detailCategoryList>ul {
    width: 12em;
    height: 16.25em;

    position: relative;
    display: flex;
    flex-direction: column;
}

.detailCategoryList li {
    padding: 15px;
}


.detailCategoryList a {
    display: block;
}

.detailCategoryListof {
    visibility: hidden;
    width: 12em;
    border-left: 1px solid lightgray;
    padding-left: 50px;

    position: absolute;
    top: 0;
    left: 100%;

    display: flex;
    flex-direction: column;
}

.bannerCategory:hover .detailCategoryList,
.drinkhover:hover .detailCategoryListof,
.detailCategoryListof:hover {
    visibility: visible;
}

/* 우측 검색창 */
.mainSearch {
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    background-color: white;
    padding: 0 10px 0 10px;
}

.mainSearch input {
    box-sizing: border-box;
    width: 90%;
    border: none;
}

.mainSearch button {
    width: 10%;
    border: none;
    background: none;

    cursor: pointer;
}

.mainSearch img {
    height: 20px;
}

.mainSearch {
    height: 100%;
    display: flex;
    background-color: rgba(211, 211, 211, 0.4);
    border-radius: 5px;
}

.mainSearch form {
    display: flex;
    align-items: center;
}

.mainSearch form input {
    background: none;
    height: 17px;
    width: 210px;
}


/* ########################/////footer/////##################### */
/* footer */

#footer {
    box-sizing: border-box;
    background-color: rgb(233, 234, 234);
    padding: 70px 30px 30px 30px;
}

#footer .footer_cover {
    /* width: 1240px; */
    margin: 0 auto;
}

.footer_cover li {
    display: inline-block;
}

/* 고객센터, FamilySite ================================================== */
/* .footer_cover span,
.footer_cover strong {
    display: inline-block;
    font-weight: bold;
} */

.footer_cover strong {
    margin-left: 18px;
    color: rgb(44, 44, 173);
    font-size: 30px;
}

.CustomerService {
    display: inline-block;
    width: 100%;
    position: relative;
}

.FamilySite {
    /* 오른쪽 고정 */
    position: absolute;
    right: 0;
}

/* 수신자 부담전화=================================================== */
/* 수신자 부담전화 위 */
.foot_margin_top2 {
    margin-top: 35px;
}

/* 왼쪽 margin number은 리스트 */
.foot_list1>li+li,
.foot_list1>li+li+li+li,
.foot_list2>li+li,
.foot_list2>li+li+li+li {
    margin-left: 10px;
}

.foot_list1>li+li+li,
.foot_list2>li+li+li {
    margin-left: 50px;
}

.foot_list3 a {
    color: initial;
}

/* 다른 사이트 "_blank"================================================== */
/* sns_src 위 */
.foot_margin_top3 {
    width: 100%;
    height: 10px;
    position: relative;
}

.sns_src {
    width: 225px;
    height: 60px;

    position: absolute;
    right: 0;

    display: flex;
    justify-content: space-between;
}

.sns_src li a {
    display: inline-block;
    text-indent: -9999em;
    width: 40px;
    height: 40px;
}

.sns_src li:nth-of-type(1) a {
    background: url(../image/instagram.svg) no-repeat center/cover;
}

.sns_src li:nth-of-type(2) a {
    background: url(../image/youtube.svg) no-repeat center/cover;
    width: 48px;
}

.sns_src li:nth-of-type(3) a {
    background: url(../image/facebook.svg) no-repeat center/cover;
}

.sns_src li:nth-of-type(4) a {
    background: url(../image/twitter.svg) no-repeat center/cover;
}

/* 로고 이미지 ================================================= */
/* 이미지 위 */
.foot_margin_top4 {
    margin-top: 10px;
}

.foot_logo>img {
    width: 130px;
}

/* 제휴(a 태그)=================================================== */
/* 제휴위 */
.foot_margin_top5 {
    margin-top: 20px;
}

.foot_list3>li:nth-of-type(n+2),
.foot_list4>li:nth-of-type(n+2) {
    margin-left: 20px;
}

.top_margin_6 {
    margin-top: 20px;
}